.color-select {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6px;

    input {
        border: none;
        background: none;
        cursor: pointer;
    }
}