.sidebar {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: var(--sidebar-width);

    margin-top: var(--header-height);
    box-shadow: black 0px 0px 10px 1px;

    background-color: white;
    font-size: .9rem;

    transition: 1s transform;

    &.closed {
        transform: translateX(-105%);
    }
}


#toggle-sidebar-button {
	position: fixed;
	line-height: .5;
	top: .25rem;
	left: .25rem;
	height: 2.5rem;
	width: 2.5rem;

	background: none;
	outline: none;
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;

	&:focus, &:hover {
		border: 2px solid var(--active-color);
	}
}

.sidebar-content > * {

    font-weight: bold;
    color: #666;
    padding: .6rem 1rem;

    &:first-child {
        padding: 0;
    }

    &:not(:first-child):hover {
        color: var(--highlight-dark-color);
        background-color: lightgray;
    }
}