.sidebar {
    position: absolute;
    height: 100vh;
    width: var(--sidebar-width);

    border-right: solid black 1px;

    font-size: .9rem;
}

.sidebar > * {

    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}