:root {
    --header-height: 3rem;
    @media screen and (max-height: 450px) { // no header if in mobile landscape mode
        --header-height: 0px;
	}

    --sidebar-width: 13rem;

    --sidebar-button-color: white;
    --sidebar-button-color-alt: black;

    --piano-key-width: 3rem; // can grow/shrink the piano with this variable!

    --active-color: hsl(200, 100%, 50%);

    --text-title-color: white;
    --text-settings-color: #666;

    --highlight-dark-color: rgb(128, 0, 0);
    --highlight-transparent-color: rgba(194, 84, 84, 0.4);
}

body {
    margin: 0;
    height: 100vh;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}