#toggle-sidebar-button {
	position: fixed;
	line-height: .5;
	top: .25rem;
	left: .25rem;
	height: 2.5rem;
	width: 2.5rem;

    z-index: 10;

	background: none;
	outline: none;
	border: none;
	border-radius: 50%;
	color: var(--sidebar-button-color);
	cursor: pointer;

	&:focus, &:hover {
		border: 2px solid var(--active-color);
	}

    @media screen and (max-height: 450px) {
        color: var(--sidebar-button-color-alt)
	}
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: var(--header-height);
    z-index: 3;

    height: auto;
    overflow-y: auto;
    width: var(--sidebar-width);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--text-settings-color);
    background-color: white;
    box-shadow: black 0px 0px 7px;
    font-size: .9rem;
    
    transition: transform 0.8s ease;

    &.closed {
        transform: translateX(-105%);
    }

    hr {
        height: 2px;
        width: 80%;
        background-color: var(--text-settings-color);
        border: none;
    }
}

.sidebar-content {

    cursor: default;

    & > h2 {
        margin-block: 0.8rem;
    }

    & > h3 {
        margin-block: 0.6rem;
    }

    // Inputs, toggles, ranges
    & > div, & > label {    
        padding: .6rem .5rem;

        &:hover {
            color: var(--highlight-dark-color);
            background-color: lightgray;
        }
    }
}

.sidebar-bottom {

    img {
        height: 2rem;
        width: 2rem;
    }
}