.app-view {
	position: relative;
	display: block;
	height: 100vh;

	text-align: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);

	z-index: 3;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	background-color: rgb(46, 46, 46);

	&-title {
		font-size: 1.5rem;
		font-weight: 600;
	}

	@media screen and (max-height: 450px) {
		visibility: hidden;
	}
}

.main-view {
	margin-top: var(--header-height);
	// position: fixed;
	width: 100%;

}

.main-view-content {
	display: flex;


	& > * {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.staff-keyboard-view {
	flex: 1 0 auto;

	& > * {
		margin: .2rem 0;
	}
}
