.app-view {
	position: relative;
	display: block;

	text-align: center;
}

.main-view {
	margin-left: var(--sidebar-width);

	h2 {
		margin-top: 0;
		padding-top: 1rem;
	}
}

.main-view-content {
	display: flex;


	& > * {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: .1rem;
	}
}

.staff-keyboard-view {
	flex: 1 0 auto;
}
