.piano-container {
    --key-width: var(--piano-key-width); // can grow/shrink the piano with this variable

    --key-focus-color: hsl(206, 100%, 88%);
    --key-playing-color: var(--active-color);

    --kbd-background: #f7f7f7;
    --kbd-shadow: 0px 2px 2px 1px #909090;

    width: 100%;
    padding: 0 0 6px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.piano, .piano * {
    box-sizing: content-box;
}

.piano {
    display: flex;
    flex-direction: row;
    width: min-content;
    margin: 0 auto;
    padding-right: 5px;
    cursor: default;
}

.key {
    background-color: white;
    height: calc(var(--key-width)*3.9);
    width: var(--key-width);
    
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-bottom-right-radius: calc(var(--key-width) / 7);
    border-bottom-left-radius: calc(var(--key-width) / 7);
    box-shadow: 2px 3px 3px black;
    outline: none;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  
    color: black;
    font-size: calc(var(--key-width) / 2.7);
    
    &.black {
        height: calc(var(--key-width) * 2.5);
        width: calc(var(--key-width) / 1.667);

        background-color: black;
        color: white;
        box-shadow: 3px 3px 3px #828282;
        font-size: calc(var(--key-width) / 3);

        margin-left: calc(var(--key-width) / -3.333 - 1px);
        margin-right: calc(var(--key-width) / -3.333 - 1px);
        z-index: 2;
        
        &:hover, &:focus {
            color: black;
        }
    }

    &:hover, &:focus {
        background-color: var(--key-focus-color);
        box-shadow: 2px 2px 2px black, 0px 0px 4px 1px var(--key-focus-color);
    }

    &.playing {
        background-color: var(--key-playing-color);
        box-shadow: none;
        color: black;
    }

    // INSIDE THE KEY: key text and keyboard mapping
    & > * {
        margin: 2px;
    }

    &-text.hidden { 
        opacity: 0;
    }

    &-text > .octave { // octave number
        font-size: .7em;
    }

    &-kbd { // style for the keyboard shortcuts
        background: var(--kbd-background);
        border-radius: 20%;
        box-shadow: var(--kbd-shadow);

        height: calc(var(--key-width) / 2);
        width: calc(var(--key-width) / 2);
        margin-bottom: 10px;

        color: #757575;
        font-family: monospace;
        font-size: 0.95em;
        font-style: italic;
        text-align: center;
        line-height: calc(var(--key-width) / 2);

        &.large { // large keys (e.g. Shift)
            width: calc(var(--key-width) * 1.4);
        }

        &.medium { // medium keys (e.g. Esc)
            width: var(--key-width);
        }

        &.hidden {
            display: none;
        }
    }
}

.piano-container .other-kbd-shortcuts {
    display: flex;
    flex-direction: column;

    font-size: calc(var(--key-width) / 2.7);
    list-style: none;

    margin: 0;
    padding: 0;

    & > li {
        display: flex;
        align-items: baseline;
        gap: 8px;
    }
}
